.card-upper{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.left-text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}